* {
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    border: #6408e4 solid 2px;
    border-radius: 0 3em 0 3em;
    box-shadow: 0 0 10px rgba(0, 0, 2, 0.20);
    height: 38%;
    width: 35%;
    background-color: #93BAF5;
    position: relative;
}

#head {
    text-align: center;
    margin: 15px 5px 0 5px;
    font-size: 35px;
    color: #ffffff;
    font-weight: bolder;
}

#joke {
    text-align: center;
    margin: 40px 10px 0 10px;
    font-size: 20px;
    color: #ffffff;
}

#btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    padding: 6px 6px 6px 6px;
    font-size: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
}

#btn:hover {
    background-color: #015aff;
}

@media screen and (max-width: 767px) {
    .content {
        border: #6408e4 solid 2px;
        border-radius: 0 3em 0 3em;
        box-shadow: 0 0 10px rgba(0, 0, 2, 0.20);
        height: 38%;
        width: 80%;
        background-color: #93BAF5;
        position: relative;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content {
        border: #6408e4 solid 2px;
        border-radius: 0 3em 0 3em;
        box-shadow: 0 0 10px rgba(0, 0, 2, 0.20);
        height: 38%;
        width: 50%;
        background-color: #93BAF5;
        position: relative;
    }
}
